@import "./_variables.scss";

@mixin hover-effect {
  cursor: pointer;
  color: $green-lime;
  border: 1px solid $purple-font;
  background-color: $purple-font;
  box-shadow: $green-dark 5px 5px;
}

@mixin basic-facts {
  padding: .5rem;
  margin: 5px;
  height: 1rem;
  width: 150px;
  font-family: inherit;
}

@mixin basic-button {
  width: 150px;
  height: auto;
}

.container {
  display: grid;
  place-items: center;

  td, th {
    vertical-align: top;
  }

  select {
    @include basic-facts;
    min-height: 2rem;
    height: 2.5rem;

    &[multiple] {
      height: 4rem
    }
  }

  .fourdd-title {
    width: 100%;
    min-width: 300px;
    margin: 0 0 20px;

    input {
      width: 80%
    }
  }

  .drive-left {
    margin: 2rem;
    justify-self: left;
  }

  .show-columns {
    display: flex;
    flex-direction: column;
  }
}

.secondary-color {
  color: $purple-font
}

input {
  @include basic-facts
}

button {
  @include basic-facts;
  font-size: 1rem;
  height: auto;
  width: auto;

  &:hover {
    @include hover-effect;
    color: white
  }
}

.btn-large {
  height: 3rem;
  width: 100%;
  background-color: $green-lime;

  &:hover {
    @include hover-effect;
    color: $green-lime
  }
}

.btn-small {
  @include basic-button;
  background-color: $purple-font;
  color: $green-lime;

  &.cancel {
    background-color: $grey-light;
    color: $black-basic
  }
}

.deleter {
  width: 50px;
  height: 1rem;
  padding: 1.25rem;

  &:hover {
    color: $purple-font;
    cursor: pointer
  }
}

.nodes-card {
  display: flex;
  flex-direction: column;
  height: auto;
  min-width: 300px;
  width: auto;
  margin: 5px auto;
  border: 1px solid $purple-font;
  border-radius: 5px;

  h3 {
    border-bottom: 1px solid $purple-font;
  }

  ul {
    list-style-type: none
  }
}

.nodes-card-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}